<li [class.completed]="todo.completed" [class.editing]="editing">
  <div class="view">
    <input
      class="toggle"
      type="checkbox"
      [checked]="todo.completed"
      (change)="toggle(todo.id)"
    />
    <label (dblclick)="startEditing()">{{ todo.text }}</label>
    <button class="destroy" (click)="deleteTodo(todo.id)"></button>
  </div>
  <input
    class="edit"
    #input
    [(ngModel)]="editedText"
    (blur)="finishEditing()"
    (keyup.enter)="finishEditing()"
    (keyup.escape)="cancelEditing()"
  />
</li>
